<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Proyecto Niko</title>

</head>
<body>
    <section class="section01"> 

        <img src="../assets/logo.png" class="img01" alt="Logo">
    
    <nav>
        <a href="index.html">Happiness</a>
        <a href="index.html">Books</a>
        <a href="index.html">About Us</a>
        <a href="index.html">Contact</a>
    </nav>
</section>
    

    <div class="div01">
        <section class="section02">
            
            <img src="./assets/img01.png" class="img02" alt="Mujer guiando a hombre">
            
            <div class="div01">

                <h1>HOW HAPPY ARE YOU?</h1>

                <p class="p01">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, quidem adipisci accusantium ex assumenda beatae unde, facere atque fugiat, maiores itaque consectetur esse debitis saepe vero eligendi commodi doloremque error!</p>

                <a href="" class="button01" > Read More</a>

            </div>
        </section>
    </div>



    <div>
        <section class="section03">
            
            <div>
                
                <h2>HAPPINESS IN NUMBERS</h2>

                <p class="p02">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>

                <a href="" class="button02">Read More ></a>

            </div>

            <div class="div03">

                <img src="./assets/graph01.png" class="img03" alt="Grafico">

            </div>

            <div class="div04">
            
                <img src="./assets/graph02.png" class="img04" alt="Grafico">
            
            </div>

        </section>
    </div>


    <div>
        <section class="section04">

            <div>
                
                <h2 class="h01">WE CAN HELP YOU TO BE HAPPY</h2>

                <p class="p03">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel</p>

                <a href="" class="button03">Read More</a>
        
            </div>

            <div class="div05">

                <img src="./assets/img02.png" class="img05" alt="Grupo unido">

            </div>

        </section>

    </div>


    <div>
        <section class="section05">

            <div class="div06">

                <img src="./assets/img06.png" class="img06" alt="Pareja sonriendo">

            </div>

            <div class="div07">
                
                <h2 class="h02"> %HAPPINESS</h2>

                <p class="p04">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</p>

                <a href="" class="button04">Read More</a>

                <img src="./assets/graph01.png" class="img07" alt="Grafico">
        
            </div>

        </section>
    </div>


    <div>
        <section class="section06">
            <h2 class="h03">ABOUT US</h2>

            <p class="p05">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

            <img src="./assets/img04.png" class="img08" alt="Grupo frente a un computador">

            <a href="" class="button05">Read More</a>

        </section>
    </div>


    <div>
        <section class="section07">
            
            <img src="./assets/img02.png" class="img09" alt="Grupo unido">
                        
            <div class="div08">

                <h2 class="h04">OUR TEAM</h2>

                <p class="p06">Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor incididunt <br> ut labore et dolore magna aliqua. Quis ipsum <br> suspendisse ultrices gravida. Risus commodo</p>

                <a href="" class="button06" > Read More</a>

            </div>
        </section>
    </div>


    <div>
        <section class="section08">
            <div class="div09">

                <h2 class="h05">TRY OUR METHOD FOR FREE</h2>

                <p class="p07">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore <br>magna aliqua. Quis ipsum suspendisse ultrices gravida. <br> Risus commodo viverra maecenas accumsan lacus vel <br>facilisis.</p>

                <a href="" class="button07" > Read More</a>

             </div>

            <img src="./assets/img06.png" class="img10" alt="Pareja agarrada de manos">

        </section>
    </div>


    <section>
        <form class="f01">
            <div></div>
        </form>
    </section>
</body>
</html>